In [113]:
import pandas as pd

In [115]:
df = pd.read_csv("vgsales.csv")

In [117]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [119]:
null_values=df.isna()
print(null_values)

        Rank   Name  Platform   Year  Genre  Publisher  NA_Sales  EU_Sales  \
0      False  False     False  False  False      False     False     False
1      False  False     False  False  False      False     False     False
2      False  False     False  False  False      False     False     False
3      False  False     False  False  False      False     False     False
4      False  False     False  False  False      False     False     False
...      ...    ...       ...    ...    ...        ...       ...       ...
16593  False  False     False  False  False      False     False     False
16594  False  False     False  False  False      False     False     False
16595  False  False     False  False  False      False     False     False
16596  False  False     False  False  False      False     False     False
16597  False  False     False  False  False      False     False     False

       JP_Sales  Other_Sales  Global_Sales
0         False        False         False
1         False        False         False
2         False        False         False
3         False        False         False
4         False        False         False
...         ...          ...           ...
16593     False        False         False
16594     False        False         False
16595     False        False         False
16596     False        False         False
16597     False        False         False

[16598 rows x 11 columns]

In [121]:
count_null_values= null_values.sum()
print(count_null_values)

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [123]:
# Clean and process the data
df = df.dropna(subset=['Year'])  # Remove rows with missing 'Year'

In [125]:
# Define a function to categorize years
def categorize_year(year):
    if year < 2005:
        return 'pre-2005'
    else:
        return 'post-2005'

# Apply the function to create the 'Period' column
df['Period'] = df['Year'].apply(categorize_year)

In [127]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Period
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,post-2005
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,pre-2005
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,post-2005
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,post-2005
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,pre-2005

In [129]:
pre_2005 = []
post_2005 = []

for period in df['Period']:
    if period == 'pre-2005':
        pre_2005.append(period)
    elif period == 'post-2005':
        post_2005.append(period)

In [131]:
a=len(pre_2005)
print("number of pre_2005 values are",a)
b=len(post_2005)
print("number of post_2005 values are",b)

number of pre_2005 values are 5172
number of post_2005 values are 11155

In [133]:
# Calculate average global sales for each period
avg_sales_pre_2005 = df[df['Period'] == 'pre-2005']['Global_Sales'].mean()
avg_sales_post_2005 = df[df['Period'] == 'post-2005']['Global_Sales'].mean()

In [135]:
# Display the results
print(f"Average global sales pre-2005: {avg_sales_pre_2005:.2f}")
print(f"Average global sales post-2005: {avg_sales_post_2005:.2f}")

Average global sales pre-2005: 0.65
Average global sales post-2005: 0.49